@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Scroll moderno y minimalista === */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00bfa5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009e88;
}